*{
    margin: 0;
    padding: 0;
    }
    .logo{
        width: 50%;
        margin-top: 1%;
        margin-left: 1%;
    }
    .portfoliowrapper{
        background-image: url(/billeder/bgpc.png);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }   
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }  
    .box1{
        box-sizing: border-box;
        width: 500px;
        height: 500px;
        color: black;
        font-size: 200%;
        font-weight: bolder;
        text-align: center;  
        flex: 1 0 250px;
        margin-top: 12%;
        margin-left: 5%;
        margin-right: 15%;
    }
    .box1a{
        color: #000000;
        font-size: 80%;
        font-weight: lighter;        
        margin-top: 4%;
        line-height: 200%;
    } 
    .box2{
        background-color: white;
        width: 900px;
        height: 600px;
        box-sizing: border-box;
        padding: 10px;
        color: black;
        font-size: 200%;
        font-weight: lighter;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 250px;
        margin-right: 6%;
        margin-bottom: 5%;
        margin-top: 4%;
        flex-direction: column;
        border: solid black;
    }
    #antal{
        background-color: #DC8741;
        font-size: 60%;
    }
    #tal{
            border: solid black;
            font-size: 60%;
    }
    #langde{
        background-color: #DC8741;
        font-size: 60%;
    }
    #beregn{
        background-color: #f5dbc5;
        font-size: 60%;
        text-decoration: none;
        border: none;
        padding: 5% 10%;
    }
    #beregn:hover{
        color: #DC8741;
    }
    .tal{
        border: solid black;
        font-size: 60%;
        text-align: center;
        padding: 1%;
        text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .portfoliowrapper {
      background-color: red;
    }
  }